table, 
tr, 
th, 
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

#mainContainer  header, main, footer {
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(211, 212, 222);
    box-shadow: 0 2px 10px rgb(90, 39, 75);
}

#mainContainer  header{
    height: 20vh;
}

#mainContainer  main{
    height: 70vh;
}
#mainContainer  footer{
    height: 10vh;
}

body{
    background-color: white;
}