table, 
tr, 
th, 
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

#mainContainer  header, main, footer {
    border: solid black 1px;
}

#mainContainer  header{
    height: 20vh;
}

#mainContainer  main{
    height: 70vh;
}
#mainContainer  footer{
    height: 10vh;
}

